# ignore Python cache, virtualenvs, IDE files, etc.
__pycache__/
*.py[cod]
*.log

# ignore venv or any other local env
venv/
.env/

# ignore node modules if you ever have frontend code here
node_modules/

# ignore your IDE/editor directories
.vscode/
.idea/

# ignore collected static—Django will re-collect it inside the image
staticfiles/
media/

database/
skillful-garden-359413-62d6073885be.json